* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.index-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index-container .sidebar {
  width: 200px;
  position: fixed;
  height: 100%;
}

.index-container .sidebar__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.index-container .sidebar__header__menu {
  width: 24px;
  margin-right: 1rem;
  cursor: pointer;
}

.index-container .sidebar__header__logo {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index-container .sidebar__sections__section {
  padding: 0.75rem 0;
  border-bottom: 1px solid #e6e5e5;
}

.index-container .sidebar__sections__section:first-child {
  padding-top: 0;
}

.index-container .sidebar__sections__section__title {
  padding: 0 1rem;
  font-size: 14px;
  font-weight: bold;
  color: #474747;
  margin-bottom: 0.5rem;
}

.index-container .sidebar__sections__section__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1rem;
  color: #000;
}

.index-container .sidebar__sections__section__item span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.index-container .sidebar__sections__section__item:hover {
  background-color: #eeeeee;
}

.index-container .sidebar__sections__section__item.active {
  background-color: #e2e2e2;
}

.index-container .sidebar__sections__section__item img {
  margin-right: 1rem;
  border-radius: 50%;
}

.index-container .sidebar__sections__section__item__channel {
  width: 24px;
  height: 24px;
  background-color: #aaa;
}

.index-container .main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  margin-left: 200px;
}

.index-container .main__header {
  position: fixed;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  width: calc(100% - 200px);
}

.index-container .main__header__search {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.index-container .main__header__search__form {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index-container .main__header__search__form__input {
  width: 100%;
  height: 35px;
  border: 1px solid #c9c9c9;
  padding: 0.5rem 0.75rem;
}

.index-container .main__header__search__form__button {
  padding: 0.25rem 1rem;
  border-radius: 0;
  border: 1px solid #c9c9c9;
  border-left: 0;
  height: 35px;
  cursor: pointer;
}

.index-container .main__header__search__form__button:hover {
  background-color: #e2e2e2;
}

.index-container .main__header__icons {
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.index-container .main__header__icons__channel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index-container .main__header__icons__channel__icon.isLoggedIn {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: #aaa;
  cursor: pointer;
  margin-left: 1rem;
}

.index-container .main__header__icons__channel__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 0.75rem;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
  border-radius: 0.2rem;
  cursor: pointer;
  font-weight: bold;
  background-color: #fff;
}

.index-container .main__header__icons__channel__icon.isNotLoggedIn {
  border: 1px solid #007fb9;
  color: #007fb9;
  font-size: 14px;
}

.index-container .main__header__icons__channel__icon.isNotLoggedIn:hover {
  background-color: #007fb9;
  color: #fff;
}

.index-container .main__header__icons__channel__icon.btn-signout {
  border: 1px solid #b41500;
  color: #b41500;
}

.index-container .main__header__icons__channel__icon.btn-signout:hover {
  background-color: #b41500;
  color: #fff;
}

.index-container .main__videos {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1rem;
  padding-right: 0;
  background-color: #f1f1f1;
  margin-top: 58px;
}

.index-container .main__videos__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 4px solid rgba(214, 214, 214, 0.8);
  padding: 2.5rem 0;
}

.index-container .main__videos__section:first-child {
  padding-top: 0;
}

.index-container .main__videos__section__video {
  max-width: 250px;
  min-width: 200px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.index-container .main__videos__section__video:first-child {
  margin-left: 0;
}

.index-container .main__videos__section__video__thumbnail {
  width: 250px;
  height: 150px;
  background-color: #aaa;
  margin-bottom: 0.5rem;
}

.index-container .main__videos__section__video__metadata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index-container .main__videos__section__video__metadata__icon {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: #aaa;
  margin-right: 1rem;
}

.index-container .main__videos__section__video__metadata__texts__title {
  color: black;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.index-container .main__videos__section__video__metadata__texts__channelname {
  margin-bottom: .1rem;
  -webkit-transition: color 0.125s;
  transition: color 0.125s;
}

.index-container .main__videos__section__video__metadata__texts__channelname:hover {
  color: #1b1b1b;
}

.index-container .main__videos__section__video__metadata__texts__channelname,
.index-container .main__videos__section__video__metadata__texts div:last-child {
  font-size: 14px;
  color: #696969;
}
/*# sourceMappingURL=main.css.map */