<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Data</title>
  <link rel="stylesheet" href="/css/add.css">
</head>

<body>
  <h1>Add Data</h1>

  <div class="container">
    <form action="" method="post">
      <%- include("_editor") -%>

      <div class="row" style="justify-content: flex-start;">
        <button type="submit" class="button">Save</button>
        <a class="btn btn-outline-dark cancel" href="/">Cancel</a>
      </div>
    </form>
  </div>
</body>

</html>